<div class="custom-card">
    <div class="header-part">
        <span>Sarah Lee</span>
        <cds-icon shape="cog"></cds-icon>
    </div>
    <div class="detail-part">
        <div class="image">
            <cds-icon size="xl" shape="user"></cds-icon>
        </div>
        <div class="detail">
            <span class="detail-item">Product Designer</span>
            <span class="detail-item">
                <span class="c-label">Email: </span>
                <span class="value">Skadam183&#64;gmail.com </span>
            </span>
            <span class="detail-item">
                <span class="c-label">Phone: </span>
                <span class="value"> +914353458585</span>
            </span>
        </div>
    </div>
</div>