<clr-modal [(clrModalOpen)]="deleteModalState">
    <h3 class="modal-title">Delete Employee</h3>
    <div class="modal-body">
        <div class="form-item">
            <span>
                Deleting this employee will reassign all their direct reportees to the employee's manager.
                Confirm this action to remove the employee from the organization chart and update
                the reporting hierarchy accordingly.
            </span>
        </div>
        <div class="form-item">
            <label>Employee name</label>
            <span> {{employee().name}}</span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="deleteModalState.set(false)">CANCEL</button>
        <button type="button" class="btn btn-danger" (click)="onDeleteEmployee()">DELETE</button>
    </div>
</clr-modal>